.container {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 1rem;
  text-align: left;
  padding: 2rem 0;
  max-width: 25em;
}

.labels {
  padding: 0.4rem 0.5rem;
  margin: 0;
}

.inputs {
  font-family: inherit;
  font-size: inherit;
  background: #f8f8f8;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.5rem;
  margin: 0;
}

.textarea {
  resize: vertical;
}

.button {
  border: 1px solid #aaa;
  background-color: transparent;
  justify-self: start;
  cursor: pointer;
}
.button:hover {
  background-color: #f8f8f8;
}

.fieldErrors {
  margin-top: -0.5rem;
  font-size: small;
  color: crimson;
  justify-self: right;
  grid-column: 1/span 2;
}

.formErrors {
  margin: 0;
  font-size: small;
  color: crimson;
  align-self: center; 
  grid-column: 2/span 1; 
}

.fieldErrors:first-letter, .formErrors::first-letter {
  text-transform: uppercase;
}